---
layout: default
title: Jerome Faria - Composer & Sound Artist
---

<div class="home">
  <section class="intro">
    <h1>Hi, I'm {{ site.author.name }}</h1>
    <p class="lead">{{ site.description }}</p>
  </section>

  {% if site.posts.size > 0 %}
  <section class="recent-posts">
    <h2>Recent Posts</h2>
    <ul class="post-list">
      {% for post in site.posts limit:5 %}
      <li class="post-list-item">
        <h3 class="post-list-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        <time class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
        {% if post.excerpt %}
        <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% if site.posts.size > 5 %}
    <p><a href="{{ '/blog' | relative_url }}">View all posts &rarr;</a></p>
    {% endif %}
  </section>
  {% endif %}
</div>
