// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  flex: 1;

  h3 {
    line-height: 1.1rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  a {
    color: inherit;
    display: block;
  }

  small {
    font-size: .8rem;
    font-weight: 400;
    color: $gray-3;
    letter-spacing: 0.02em;
    text-transform: none;
  }

}

nav {
  a {
    margin-left: 1rem;
    font-size: .85rem;
    color: $gray-3;
    letter-spacing: 0.02em;

    &:hover {
      color: #fff;
    }
  }
}
