<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="container content">
      {% include header.html %}

      <main>
        {% for post in site.posts %}

        <h1 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>

        <time class="post-date">{{ post.date | date_to_long_string }}</time>

        <p>{{ post.excerpt }}</p>

        <hr />

        {% endfor %}
      </main>

      {% include footer.html %}
    </div>

    {% include analytics.html %}
  </body>
</html>
