---
layout: default
---

<div class="blog-list">
  {% if page.title %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}

  {% if site.posts.size > 0 %}
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-list-item">
      <h2 class="post-list-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <time class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
      {% if post.excerpt %}
      <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="message">No posts yet. Check back soon!</p>
  {% endif %}
</div>
